/.github
/.vscode
/__tests__
/documentation
/node_modules
/src
LICENSE
README.md
/esbuild.mjs
/eslint.config.mjs
/jest.config.js
package-lock.json
/tsconfig.json
/tsconfig.tsbuildinfo
sonar-project.properties
/coverage
/scripts
