/* .coqdoc-view-editor {

} */

/* .coqdoc-view-rendered {

} */

/* .coqdoc-view {

} */

.mv coqblock:has(coqdoc)::before {
    display: block;
    color: var(--wp-inputForeground);
    background-color: var(--wp-inputBackground);
    font-family: var(--wp-fontFamily);
    font-size: var(--wp-fontSize);
    font-weight: var(--wp-fontWeight);
    content: "Coq with coqdoc";
    padding: 0.2em;
}

coqblock {
    display: block;
    background: var(--wp-listFilterWidgetBackground);
}

.coqdoc-view-empty:before {
    display: inline;
    color: var(--wp-errorForeground);
    content: "...";
}

.coqdoc-view-empty > div {
    display: none;
}


.coqdoc-view-editor::before {
    --border-color: var(--wp-inputBorder);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--wp-inputForeground);
    background-color: var(--wp-inputBackground);
    font-family: var(--wp-fontFamily);
    font-size: var(--wp-fontSize);
    font-weight: var(--wp-fontWeight);
    border-radius: 0px 0px 5px 0px;
    content: "Coqdoc";
    padding: 0.2em;
}