.inputarea {
  display: block;
  position: relative;
  padding-left: 8px;
}
  
.inputarea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 8px; 
  background-color: var(--wp-blue);
  /* we add a border for some high contrast themes */
  outline: 1px solid var(--vscode-button-border); 
}

.inputarea.correct::before {
  width: 8px;
  background-color: var(--wp-green);
}

.inputarea.invalid::before,
.inputarea.correct.contains-warning::before {
  width: 8px;
  background-color: var(--wp-yellow);
}

.inputarea.incorrect::before,
.inputarea.incorrect.contains-error::before,
.inputarea.incorrect.contains-warning::before, 
.inputarea.correct-contains-error::before {
  width: 8px;
  background-color: var(--wp-red);
}

.empty-input-area-placeholder {
  color: var(--wp-empty-input-area-placeholder-color);
}

.empty-input-area-placeholder::before {
  content: var(--wp--empty-input-area-placeholder-content);
}
