/*---------------------------------------------------------
 *  Author: Benjamin R. Bray
 *  License: MIT (see LICENSE in project root for details)
 *--------------------------------------------------------*/

/* == Math Nodes ======================================== */

.math-node {
	min-width: 1em;
	min-height: 1em;
	font-size: var(--wp-editorFontSize);
	font-family: var(--wp-editorFontFamily);
	cursor: auto;
}

.math-node.empty-math .math-render::before {
	content: "(empty LaTeX block)";
	color: var(--wp-errorForeground);
}

.math-node .math-render.parse-error::before {
	content: "(math error)";
	color: var(--wp-errorForeground);
	cursor: help;
}

.math-node .math-src {
	display: none;
	color: var(--wp-quickInputForeground);
	tab-size: 4;
}

.math-node.ProseMirror-selectednode .math-src { display: inline; }
.math-node.ProseMirror-selectednode .math-render { display: none; }

/* -- Inline Math --------------------------------------- */

math-inline { display: inline; white-space: nowrap; }

math-inline .math-render { 
	display: inline-block;
	font-size: 0.85em;
	cursor:pointer;
}

math-inline .math-src .ProseMirror {
	display: inline;
	/* Necessary to fix FireFox bug with contenteditable, https://bugzilla.mozilla.org/show_bug.cgi?id=1252108 */
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

math-inline .math-src::after, math-inline .math-src::before {
	content: "$";
	color: var(--wp-editorHintForeground);
}

/* -- Block Math ---------------------------------------- */

math-display { 
	display: block;
	padding-top: 10px;
	padding-bottom: 10px; 
}

math-display .math-render { display: block; }

math-display.ProseMirror-selectednode { background-color: var(--wp-quickInputBackground); }

math-display .math-src .ProseMirror {
	width: 100%;
	display: block;
	background-color: var(--wp-inputBackground);
	color: var(--wp-inputForeground);
}

math-display .math-src::after, math-display .math-src::before {
	content: "$$";
	text-align: left;
	color: var(--wp-editorHintForeground);
}

math-display .katex-display { margin: 0; }

/* -- Selection Plugin ---------------------------------- */


.math-node.math-select .math-render {
	background-color: #c0c0c0ff;
}
math-inline.math-select .math-render {
	padding-top: 2px;
}